h1, h2, p, label {
    font-family: Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}

.task {
    margin-bottom: 10px;
    align-content: baseline;
    background-color: white;
    border: 1px solid #535353;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.20);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 18px;
    font-size: 20px;
    text-align: center;
}